
{% set excerpt = true %}
<!-- user/plugins/photon-{{ page.template }}/templates/_articles/{{ page.template }}-excerpt.html.twig -->
  <article class="{{ article.template }} excerpt" data-url="{{ article.url }}">
    <header>
      <h1>{{ article.title }}</h1>
      {% if article.header.subtitle %}
      <h2>{{ article.header.subtitle }}</h2>
      {% endif %}
      
    </header>
    <div class="content">
      {% if article.summary %}
      <div class="summary">
        {{ article.summary }}
        <span class="price">{{ article.header.data.menu.price }}</span>
      </div>
      {% endif %}
    </div>
  </article>
